<html>
    <head>
        <title>WebGL</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../static/js/minMatrix.js" type="text/javascript"></script>
        <script src="../static/js/util.js" type="text/javascript"></script>
        <script src="../static/js/utils.js" type="text/javascript"></script>
        <script src="../static/js/gl-matrix.js" type="text/javascript"></script>
        <script src="../static/js/Entity.js" type="text/javascript"></script>
        <script src="../static/js/Rect.js" type="text/javascript"></script>
        <script src="../static/js/Component.js" type="text/javascript"></script>
        <script src="../static/js/SpriteComponent.js" type="text/javascript"></script>
        <script src="../static/js/ModelComponent.js" type="text/javascript"></script>
        <script src="../static/js/RectComponent.js" type="text/javascript"></script>
        <script src="../static/js/Cone.js" type="text/javascript"></script>
        <script src="../static/js/Ball.js" type="text/javascript"></script>
        <script src="../static/js/script.js" type="text/javascript"></script>
        <script id="vs" type="x-shader/x-vertex">
            #version 300 es
            precision mediump float;
        
            uniform mat4 uModelViewMatrix;
            uniform mat4 uProjectionMatrix;
            uniform mat4 uNormalMatrix;
        
            in vec3 aVertexPosition;
            in vec3 aVertexNormal;
            in vec4 aVertexColor;
        
            out vec4 vColor;
            out vec3 vNormal;
            out vec3 vEyeVector;
        
            void main(void) {
              vColor = aVertexColor;
              vNormal = vec3(uNormalMatrix * vec4(aVertexNormal, 1.0));
              vec4 vertex = uModelViewMatrix * vec4(aVertexPosition, 1.0);
              vEyeVector = -vec3(vertex.xyz);
              gl_Position = uProjectionMatrix * uModelViewMatrix * vec4(aVertexPosition, 1.0);
            }
        </script>
        <script id="fs" type="x-shader/x-fragment">
            #version 300 es
            precision mediump float;

            uniform float uShininess;
            uniform vec3 uLightDirection;
            uniform vec4 uLightAmbient;
            uniform vec4 uLightDiffuse;
            uniform vec4 uLightSpecular;
            uniform vec4 uMaterialAmbient;
            uniform vec4 uMaterialDiffuse;
            uniform vec4 uMaterialSpecular;

            in vec4 vColor;
            in vec3 vNormal;
            in vec3 vEyeVector;
        
            out vec4 fragColor;
        
            void main(void)  {
                vec3 L = normalize(uLightDirection);
                vec3 N = normalize(vNormal);
                float lambertTerm = dot(N, -L);
                vec4 Ia = uLightAmbient * uMaterialAmbient;
                vec4 Id = vec4(0.0, 0.0, 0.0, 0.0);
                vec4 Is = vec4(0.0, 0.0, 0.0, 0.0);

                if(0.0 < lambertTerm){
                    Id = uLightDiffuse * uMaterialDiffuse * lambertTerm;
                    vec3 E = normalize(vEyeVector);
                    vec3 R = reflect(L, N);
                    float specular = pow(max(dot(R, E), 0.0), uShininess);
                    Is = uLightSpecular * uMaterialSpecular * specular;
                }
                fragColor = vec4(vec3(Ia + Id + Is), 1.0); //2Dの場合vColor
            }
        </script>
    </head>
    <body>
        <canvas id="canvas">
    </body>
</html>